.box {
  height: 100px;
  width: 100px;
  border-style: solid;
  position: absolute;
}

.calBlock {
  position: absolute;
  margin-bottom: 95px;
}

.monday{
  left:0;
}

.tuesday{
  left: 100px;
}

.wednesday{
  left: 200px;
}

.thursday{
  left: 300px;
}

.friday{
  left: 400px;
}

.saturday{
  left: 500px;
  visibility: visible;
}

.sunday{
  left: 600px;
  visibility: visible;
}

.myRadio{
  content: "";
  border: 2px solid;
  background: transparent;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0px;
  right:0px;
}

.radio-inline{
  left: 5px;
}
