.myRadio{
  content: "";
  border: 2px solid;
  background: transparent;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0px;
  right:0px;
}

.radio-inline{
  left: 5px;
}

.day {
  height: 100px;
  width: 100px;
  border-style: solid;
  float:left;
}

.hidden {
  visibility: hidden;
}

.divider {
  clear: both;
}
