<!-- index.nunjucks -->
{% extends "layout.nunjucks" %}

{% block content %}

  <script src="calendar.js"></script>

  <div class="col-xs-12">
    <h1>Calendar creater</h1>
  </div>

  <div class="col-xs-12">
    <div class="form-group col-xs-3">
      <label for="startDate">What date do you want to start the calendar?</label>
      <input type="number" class="form-control input-lg" id="startDate">
    </div>
  </div>

  <div class="col-xs-12">
    <div class="form-group col-xs-3">
      <label for="noWeeks">How many weeks do you want?</label>
      <input type="number" class="form-control input-lg" id="noWeeks">
    </div>
  </div>


  <div class="col-xs-12" style="padding-bottom:20px">
    <div class="col-sm-3 col-xs-6">
      <label>Do you want weekends?</label></br>
      <div class="col-xs-3">
        <input type="radio" class="myRadio" id="weekendYes" name="weekend" value="Yes" onclick="hide()"><label class="radio-inline input-lg" for="weekendYes">Yes</label>
      </div>
      <div class="col-xs-3">
        <input type="radio" class="myRadio" id="weekendNo" name="weekend" value="No" onclick="hide()"><label class="radio-inline input-lg" for="weekendNo">No</label>
      </div>
    </div>
  </div>

  <div class="col-xs-12" style="padding-bottom:50px">
    <div class="col-sm-3 col-xs-6">
      <button type="button" class="btn btn-success btn-lg" onclick="calendarCreate()">Create</button>
    </div>
  </div>

<div class="col-xs-12" id="cal">
{% include "partials/calendarblock.nunjucks" %}</br>
</div>

{% endblock %}
